/* WIDTH CALIBRATION
----------------------------------- */
.row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; margin: 0 auto; align-items: baseline; } /* Se pone el display flex y se deja que cada columna tenga su propia altura. */
.container .row { max-width: 144rem; }
.full-width.row { max-width: 100%; }

[class^="col-"], [class*=" col-"] { position: relative; min-height: 1px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding: 0 6rem; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; width: 100%; max-width: 100%; margin: 0; }
.col-auto { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }
/* Vertical Align - Column
----------------------------------- */
[class^="col-"].top, [class*=" col-"].top { -ms-flex-item-align: start; align-self: flex-start; }
[class^="col-"].middle, [class*=" col-"].middle { -ms-flex-item-align: center; align-self: center; }
[class^="col-"].bottom, [class*=" col-"].bottom { -ms-flex-item-align: end; align-self: flex-end; }
[class^="col-"].baseline, [class*=" col-"].baseline { -ms-flex-item-align: baseline; align-self: baseline; }
[class^="col-"].stretch, [class*=" col-"].stretch { -ms-flex-item-align: stretch; align-self: stretch; }
/* Text Align - Column
----------------------------------- */
[class^="col-"].left, [class*=" col-"].left { text-align: left; }
[class^="col-"].center, [class*=" col-"].center { text-align: center; }
[class^="col-"].right, [class*=" col-"].right { text-align: right; }

/* TABLE STRUCTURE
----------------------------------- */
.table { display: table; height: 100%; width: 100%; }
.table .cell { display: table-cell; }
.middle { vertical-align: middle; }
.top { vertical-align: top; }
.bottom { vertical-align: bottom; }

/* Horizontal Align - Row
----------------------------------- */
.row.reverse { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.row.left { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.row.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.row.right { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.row.around { -ms-flex-pack: distribute; justify-content: space-around; } /* Distribuir items uniformemente.  Los items tienen el mismo espacio a su alrededor  */
.row.between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } /* Distribuir items uniformemente. El primer item al inicio, el último al final */

/* Vertical Align - Row
----------------------------------- */
.row.top { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.row.middle { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.row.bottom { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
.row.stretch { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }/* Estira los elementos para ajustarlos */


@media only screen
and (min-width : 769px) {
	[class^="col-"], [class*=" col-"] { padding: 0 1.5rem; }
  /* ORDER GENERAL
	----------------------------------- */
  .order-first { -ms-flex-order: -1; order: -1; }
  .order-last { -webkit-box-ordinal-group: 14; -ms-flex-order: 13; order: 13; }
}
/* No Pad Column
----------------------------------- */
.no-pad-left { padding-left: 0; }
.no-pad-right { padding-right: 0; }
/* GRID 12 COLUMNS
----------------------------------- */
[class^="col-12"], [class*=" col-12"] { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
@media only screen
and (min-width : 769px) {
  .col-12-1 { -ms-flex: 0 0 8.333333333333332%; flex: 0 0 8.333333333333332%; max-width: 8.333333333333332%; }
  .col-12-2 { -ms-flex: 0 0 16.666666666666664%; flex: 0 0 16.666666666666664%; max-width: 16.666666666666664%; }
  .col-12-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-12-4 { -ms-flex: 0 0 33.33333333333333%; flex: 0 0 33.33333333333333%; max-width: 33.33333333333333%; }
  .col-12-5 { -ms-flex: 0 0 41.66666666666667%; flex: 0 0 41.66666666666667%; max-width: 41.66666666666667%; }
  .col-12-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-12-7 { -ms-flex: 0 0 58.333333333333336%; flex: 0 0 58.333333333333336%; max-width: 58.333333333333336%; }
  .col-12-8 { -ms-flex: 0 0 66.66666666666666%; flex: 0 0 66.66666666666666%; max-width: 66.66666666666666%; }
  .col-12-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-12-10 { -ms-flex: 0 0 83.33333333333334%; flex: 0 0 83.33333333333334%; max-width: 83.33333333333334%; }
  .col-12-11 { -ms-flex: 0 0 91.66666666666666%; flex: 0 0 91.66666666666666%; max-width: 91.66666666666666%; }
  .col-12-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

  /* ORDER
	----------------------------------- */
  .order-12-0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
  .order-12-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .order-12-2 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .order-12-3 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .order-12-4 { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }
  .order-12-5 { -webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5; }
  .order-12-6 { -webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6; }
  .order-12-7 { -webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7; }
  .order-12-8 { -webkit-box-ordinal-group: 9; -ms-flex-order: 8; order: 8; }
  .order-12-9 { -webkit-box-ordinal-group: 10; -ms-flex-order: 9; order: 9; }
  .order-12-10 { -webkit-box-ordinal-group: 11; -ms-flex-order: 10; order: 10; }
  .order-12-11 { -webkit-box-ordinal-group: 12; -ms-flex-order: 11; order: 11; }
  .order-12-12 { -webkit-box-ordinal-group: 13; -ms-flex-order: 12; order: 12; }

  /* OFFSETS
	----------------------------------- */
	/* left */
	.offset-left-12-0 { margin-left: 0%; }
	.offset-left-12-1 { margin-left: 8.33333333%; }
	.offset-left-12-2 { margin-left: 16.66666667%; }
	.offset-left-12-3 { margin-left: 25%; }
	.offset-left-12-4 { margin-left: 33.33333333%; }
	.offset-left-12-5 { margin-left: 41.66666667%; }
	.offset-left-12-6 { margin-left: 50%; }
	.offset-left-12-7 { margin-left: 58.33333333%; }
	.offset-left-12-8 { margin-left: 66.66666667%; }
	.offset-left-12-9 { margin-left: 75%; }
	.offset-left-12-10 { margin-left: 83.33333333%; }
	.offset-left-12-11 { margin-left: 91.66666667%; }
	.offset-left-12-12 { margin-left: 100%; }
	/*  right */
	.offset-right-12-0 { margin-right: 0%; }
	.offset-right-12-1 { margin-right: 8.33333333%; }
	.offset-right-12-2 { margin-right: 16.66666667%; }
	.offset-right-12-3 { margin-right: 25%; }
	.offset-right-12-4 { margin-right: 33.33333333%; }
	.offset-right-12-5 { margin-right: 41.66666667%; }
	.offset-right-12-6 { margin-right: 50%; }
	.offset-right-12-7 { margin-right: 58.33333333%; }
	.offset-right-12-8 { margin-right: 66.66666667%; }
	.offset-right-12-9 { margin-right: 75%; }
	.offset-right-12-10 { margin-right: 83.33333333%; }
	.offset-right-12-11 { margin-right: 91.66666667%; }
	.offset-right-12-12 { margin-right: 100%; }
}
