*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{background-color: blue;}

header h2{
    text-transform: uppercase;
    color: #FFFFFF;
}
footer{
    display: flex;

}
.exit-button{
    text-transform: uppercase;
}