/* FONTS
Listas fuentes para uso

--- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;700&display=swap');

/* @group SHARED STRUCTURES AND STYLES
------------------------------------ */
body { overflow-x: hidden; }
#wrapper { width: 100%; }
a, button { cursor: pointer;
    -webkit-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, -webkit-transform 0.3s linear;
    -moz-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, -moz-transform 0.3s linear;
    -ms-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
    -o-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
    transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
}
.video-box,
.img-box { overflow: hidden; position: relative; }
.img-box > img { object-fit: cover; object-position: center center; height: 100%; width: 100%!important; }
.img-box video { object-fit: cover; object-position: center center; height: 100%; width: 100%!important; }
@supports(object-fit: cover) {
  .img-box > img { height: 100%!important; }
}
/* General Text
----------------------*/



@media only screen
and (min-width : 769px) {
  body {
    background-color:red;
  }

  .container-fluid{
        width: 100%;
}
header{
color: #FFFFFF;
opacity: 1;
position: relative;
}


.title{
  display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 56px;
    position: absolute;
    bottom: 40px;
    left: 138px;
    margin:23px;
}

span.regular-title{
  font-weight: 400;
}

/*main*/
.cards{
  display:flex;
  justify-content: space-around;
  margin-top: 38px;
}
.card{
  top: 518px;
  left: 974px;
  width: 336px;
  height: 406px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  
}
.card-img-top{
  width: 100%;
  border:none;
}
.card-body{
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  padding: 2em;
  display:flex;
  flex-direction:column;
  color:#10CCEC;
  border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: white;
    border-radius: 0.3rem;
}
.card-title{
  font-size: 20px;
  color:#162E5A;
  margin-top: 1em;
  margin-bottom: 1em;
}
footer{ 
  display:flex;
  justify-content: space-around;
  margin-top: 38px;
}

.footer-image{
  width: 50%;
  
}
.btn-warning{
  background-color:#F8CE75;
  color:#162E5A;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 22px;
}
}
@media only screen
and (min-width : 769px)
and (max-width : 1440px) {
  body{
    background-color:blue;
  }
}
@media only screen
and (min-width : 0)
and (max-width : 768px) {
  body{ 
    background-color:yellow;
  }
}

/* @end */

/* @group RESET GENERAL DE TAMAÑO
------------------------------------ */
.no-mobile {}

@media only screen
and (min-width : 769px) {
  .mobile { display: none!important; }
}
@media only screen
and (min-width : 769px)
and (max-width : 1440px) {
}
@media only screen
and (min-width : 0)
and (max-width : 768px) {
  .no-mobile { display: none!important; }
  /* html { font-size: 7px; } */
}
@media only screen
and (min-width : 0)
and (max-width : 600px) {
  /* html { font-size: 5px; } */
}
/* @end */

/* --- */
